@font-face {
	font-family: "MaterialIcons-Regular";
	src: url("./MaterialIcons-Regular.otf") format("otf");
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
	font-family: "MaterialIcons-Regular";
	background: url("./icon.png");
}
